.error{
    background-color:red;
}
.descriptionMovie{
    text-align:center;
}

.bodyMovie{
    border:1px solid;
    margin : 4px;
    width: 50%;
}
.generalMovie{
    display: flex;
    padding: 4px;
    text-align: center;
}